async-timeout==3.0.1
bitsets==0.7.16
brotlipy==0.7.0
certifi==2021.5.30
concepts==0.9.2
cycler==0.10.0
dataframe-image==0.1.1
discord.py==1.7.3
graphviz==0.14.2
ipython-genutils==0.2.0
mkl-fft==1.3.0
mkl-service==2.3.0
pandocfilters==1.4.2
pyparsing==2.4.7
pywin32==300
webencodings==0.5.1
wincertstore==0.2
pandas==1.2.4